.footer {
  background-color: var(--surface-color);
  color: var(--text-color-secondary);
  padding: 2rem;
  text-align: center;
  margin-top: auto; /* Empurra o rodapé para o final da página */
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
}

.footer p {
  margin: 0;
}
.footer a {
    color: var(--text-color);
    font-weight: 500;
}